<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<contextName>Lilith</contextName>

    <property name="foo" value="bar"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Lilith" class="de.huxhorn.lilith.appender.InternalLilithAppender"/>

    <appender name="MultiplexClassicCompressed"
              class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <Compressing>true</Compressing>
        <!-- will automatically use correct default port -->
        <ApplicationIdentifier>MultiplexClassicCompressed</ApplicationIdentifier>
        <ReconnectionDelay>30</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>

	    <!-- <RemoteHosts>localhost</RemoteHosts> -->
	    <RemoteHost>localhost</RemoteHost>
    </appender>

    <appender name="MultiplexClassicUncompressed"
              class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <Compressing>false</Compressing>
        <!-- will automatically use correct default port -->
        <ApplicationIdentifier>MultiplexClassicUncompressed</ApplicationIdentifier>
        <ReconnectionDelay>290</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>

	    <!-- <RemoteHosts>localhost</RemoteHosts> -->
	    <RemoteHost>localhost</RemoteHost>
    </appender>

    <appender name="MultiplexClassicXmlCompressed"
              class="de.huxhorn.lilith.logback.appender.ClassicXmlMultiplexSocketAppender">
        <Compressing>true</Compressing>
        <!-- will automatically use correct default port -->
        <ApplicationIdentifier>MultiplexClassicXmlCompressed</ApplicationIdentifier>
        <ReconnectionDelay>290</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>

	    <!-- <RemoteHosts>localhost</RemoteHosts> -->
	    <RemoteHost>localhost</RemoteHost>
    </appender>

    <appender name="MultiplexClassicXmlUncompressed"
              class="de.huxhorn.lilith.logback.appender.ClassicXmlMultiplexSocketAppender">
        <Compressing>false</Compressing>
        <!-- will automatically use correct default port -->
        <ApplicationIdentifier>MultiplexClassicXmlUncompressed</ApplicationIdentifier>
        <ReconnectionDelay>290</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>

	    <!-- <RemoteHosts>localhost</RemoteHosts> -->
	    <RemoteHost>localhost</RemoteHost>
    </appender>

    <appender name="ZeroDelimitedMultiplexClassicXml"
              class="de.huxhorn.lilith.logback.appender.ZeroDelimitedClassicXmlMultiplexSocketAppender">
        <ApplicationIdentifier>ZeroDelimitedMultiplexClassicXml</ApplicationIdentifier>
        <ReconnectionDelay>290</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>

	    <!-- <RemoteHosts>localhost</RemoteHosts> -->
	    <RemoteHost>localhost</RemoteHost>
    </appender>

    <appender name="LogbackClassic" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>4560</Port>
        <ReconnectionDelay>170</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="Lilith"/>
    </root>

    <logger name="de.huxhorn.lilith.debug" level="TRACE" additivity="false">
        <appender-ref ref="MultiplexClassicCompressed"/>
        <appender-ref ref="MultiplexClassicUncompressed"/>
        <appender-ref ref="MultiplexClassicXmlCompressed"/>
        <appender-ref ref="MultiplexClassicXmlUncompressed"/>
        <appender-ref ref="ZeroDelimitedMultiplexClassicXml"/>
        <appender-ref ref="LogbackClassic"/>
    </logger>

	<logger name="de.huxhorn.lilith" level="INFO"/>
	<logger name="de.huxhorn.lilith.Lilith" level="DEBUG"/>
	<logger name="de.huxhorn.lilith.engine.FileBufferFactory" level="INFO‚"/>
	<logger name="de.huxhorn.lilith.engine.impl.eventproducer.AbstractMessageBasedEventProducer" level="INFO"/>
	<logger name="de.huxhorn.lilith.engine.impl.eventproducer.AbstractMessageBasedEventProducer" level="WARN"/>
	<logger name="de.huxhorn.lilith.engine.impl.eventproducer.OldStreamEventProducer" level="INFO"/>
	<logger name="de.huxhorn.lilith.engine.impl.eventproducer.OldStreamEventProducer" level="INFO"/>
	<logger name="de.huxhorn.lilith.engine.impl.sourcemanager.EventPoller" level="WARN"/>
	<logger name="de.huxhorn.lilith.engine.impl.sourcemanager.SourceManagerImpl" level="WARN"/>
	<logger name="de.huxhorn.lilith.engine.xml.eventproducer.LilithXmlStreamLoggingEventProducer" level="WARN"/>
	<logger name="de.huxhorn.lilith.eventhandlers.FileDumpEventHandler" level="WARN"/>
	<logger name="de.huxhorn.lilith.eventhandlers.FileSplitterEventHandler" level="WARN"/>
	<logger name="de.huxhorn.lilith.eventhandlers.RrdLoggingEventHandler" level="INFO"/>
	<logger name="de.huxhorn.lilith.eventhandlers.SocketEventHandler" level="INFO"/>
	<logger name="de.huxhorn.lilith.services.sender" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.AboutPanel" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.ApplicationPreferences" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.ComboPaneViewContainer" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.EventWrapperViewPanel" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.MainFrame" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.MainFrame$ColorsCollectionRunnable" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.SplashScreen" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.TabbedPaneViewContainer" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.TipOfTheDayDialog" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.ViewActions" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.ViewContainerFrame" level="DEBUG"/>
	<logger name="de.huxhorn.lilith.swing.ViewContainerInternalFrame" level="DEBUG" />
	<logger name="de.huxhorn.lilith.swing.ViewManager" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.callables.IndexingCallable" level="DEBUG"/>
	<logger name="de.huxhorn.lilith.swing.preferences" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.statistics.AbstractGraphImageProducer" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.statistics.StatisticsPanel" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.statistics.StatisticsPanel" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.table.EventWrapperViewTable" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.taskmanager" level="INFO"/>
	<logger name="de.huxhorn.lilith.swing.taskmanager.table" level="WARN"/>
	<logger name="de.huxhorn.lilith.swing.xhtml" level="DEBUG"/>
	<logger name="de.huxhorn.lilith.tools" level="DEBUG"/>
	<logger name="de.huxhorn.sulky" level="INFO"/>
	<logger name="de.huxhorn.sulky.buffers.filtering.FilteringBuffer" level="INFO"/>
	<logger name="de.huxhorn.sulky.buffers.SoftReferenceCachingBuffer" level="WARN"/>
	<logger name="de.huxhorn.sulky.logging.LoggingPropertyChangeListener" level="DEBUG"/>
	<logger name="de.huxhorn.sulky.sounds.jlayer.JLayerSounds" level="WARN"/>
	<logger name="de.huxhorn.sulky.swing.KeyStrokes" level="INFO"/>
	<logger name="de.huxhorn.sulky.swing.Windows" level="INFO"/>
	<logger name="httpclient.wire" level="WARN"/>
	<logger name="java" level="WARN"/>
	<logger name="javax" level="WARN"/>
	<logger name="javax.jmdns" level="TRACE"/>
	<logger name="org.apache.commons.httpclient" level="WARN"/>
	<logger name="org.springframework" level="INFO"/>
	<logger name="sun" level="WARN"/>
</configuration>
