<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="multiplex" class="de.huxhorn.lilith.logback.appender.access.AccessMultiplexSocketAppender">
		<Compressing>true</Compressing> <!-- will automatically use correct default port -->
		<ReconnectionDelay>1000</ReconnectionDelay>
		<RemoteHosts>localhost</RemoteHosts>
		<ApplicationIdentifier>Logback Access Sandbox</ApplicationIdentifier>
	</appender>

	<appender name="LogbackAccess" class="ch.qos.logback.access.net.SocketAppender">
		<RemoteHost>localhost</RemoteHost>
		<Port>4570</Port>
		<ReconnectionDelay>170</ReconnectionDelay>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>access.lilith</file>
		<encoder class="de.huxhorn.lilith.logback.encoder.access.AccessLilithEncoder"/>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>common</pattern>
		</encoder>
	</appender>

	<appender-ref ref="CONSOLE" />
	<appender-ref ref="FILE" />
	<appender-ref ref="multiplex" />
	<appender-ref ref="LogbackAccess" />
</configuration>
